.video,
.profile-picture,
.video-description {
  display: inline-block;
}
.search-bar {
  display: block;
}
/*Main Div containing; profile picture and video details*/
.video {
  width: 300px;
  vertical-align: top;
  margin-right: 10px;
}

/*Div containing the main video image*/
.video-preview {
  width: 100%;
}

/*left aligned Div with Authors profile picture*/
.author-picture {
  width: 100%;
  border-radius: 25px;
  
  margin-top: 10px;
}
.profile-picture {
  width: 35px;
  vertical-align: top;

}

/*right aligned Div with title, authors name and views
div name: video-description*/
.video-description {
  width: 75%;
  padding-left: 10px;
}

p {
  font-family: "Roboto";
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 12px;
  line-height: 20px;
  margin-top: 10px;
}
.author,
.views {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.author {
  margin-bottom: 4px;
}
