.search-bar {
  display: block;
}

/*a container for all videos on the page*/
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}


/*class for the thumbnail image (this is not the div but the image inside of the div*/
.video-thumbnail {
  width: 100%;
}

/*(CSS grid display) the authors profile picture and video info*/
.grid-display {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;

}

/*class for the profile picture image */
.profile-picture {
  width: 40px;
  border-radius: 50px;
}

/*Text on the page*/
.video-title,
.author-name,
.views {
  font-family: "Roboto";
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 21px;

}
.author-name,
.views {
  font-size: 12px;
  color: gray;
}

.author-name {
  margin-bottom: 10px;
}