.flex-box-3 {
  display: flex;
  flex-direction: row;

  margin-bottom: 10px;
  justify-content: space-between;
}
.flex-3-0 {
  background-color: hotpink;
}
.flex-3-1 {
  background-color: greenyellow;

}
.flex-3-2 {
  background-color: plum;
}
.flex-3-3{
  background-color: lightblue;
}