/*Main grid*/
.main-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}
/*a column in the main div*/
.pet-friend {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

/*The main image in the div*/
.pet {
  width: 100%;
  height: 215px;

  object-fit: cover;
}

/*sub-div containing the rest of the elements*/
.sub-div {
 padding-left: 7px;
 padding-bottom: 8px;
}
/*name of the pet*/
.name {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;

  margin-top: 5px;
  margin-bottom: 4px;
}

/*The grid containing the mutual friends detail*/
.sub-grid {
  display: grid;
  grid-template-columns: 28px 1fr;
  
  column-gap: 6px;
  align-items: center;
}

/*image class of the mutual friend*/
.dog {
  width: 100%;
  height: 27px;

  object-fit: cover;
  border-radius: 100px;
}
/*text with mutual friend numbers*/
.text {
  font-family: "roboto";
  font-size: 14px;

  color: grey;

  margin-top: 5px;
}

/*button to add friend*/
.add {
  display: block;

  color: white;
  font-family: "Roboto";
  font-size: 13px;

  background-color: rgb(29, 114, 241);
  border: none;
  border-radius: 3px;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  
  margin-top: 5px;
}